{% extends "layout.njk" %}
{% block content %}
<main class="container">

  <link rel="stylesheet" href="/css/style.css">
  <div class="quiz">
    <h1>{{message}}</h1>
  </div>
  {% include "components/question-form.njk" %}
</main>
{% endblock %}